POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_CONTAINER=emit-postgres-prod
POSTGRES_DB=emit
POSTGRES_USER=emit
POSTGRES_PASSWORD=

POSTGRES_VOLUME=emit_postgres_prod

REDIS_IMAGE=redis:7-alpine
REDIS_CONTAINER=emit-redis-prod
REDIS_PASSWORD=
REDIS_VOLUME=emit_redis_prod

APP_NETWORK=emit_prod_network