POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_CONTAINER=emit-postgres-dev
POSTGRES_PORT=5432
POSTGRES_USER=emit
POSTGRES_PASSWORD=emit
POSTGRES_DB=emit
POSTGRES_VOLUME=emit_postgres_dev

REDIS_IMAGE=redis:7-alpine
REDIS_CONTAINER=emit-redis-dev
REDIS_PORT=6379
REDIS_VOLUME=emit_redis_dev

APP_NETWORK=emit_dev_network